<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">

    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

    <ul class="nav navbar-nav">
      <li ng-repeat="element in navigation" uib-dropdown>

        <a ng-href="{{element.path}}" ng-if="element.dropdown === undefined">{{element.name}}</a>
        <a ng-href="{{element.path}}" uib-dropdown-toggle ng-if="element.dropdown !== undefined">{{element.name}} <b class="caret"></b></a>
        <ul class="dropdown-menu" ng-if="element.dropdown !== undefined">
          <li ng-repeat="sub_element in element.dropdown">
            <a ng-href="{{sub_element.path}}">{{sub_element.name}}</a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</nav>
