<div class="text-center" ng-controller="VorstandController as vorstand">
  <h1>Vorstand</h1>
  <div class="col-md-3 col-sm-4 col-xs-6 col-height" ng-repeat="mitglied in vorstand.entries">
    <a ng-click="vorstand.openLightboxModal($index)" style="cursor: pointer">
      <img ng-src="{{mitglied.thumbUrl}}" class="img-thumbnail" />
    </a><br />
    <strong>{{mitglied.funktion}}</strong><br />
    {{mitglied.name}}<br />
    <address>
      <span ng-if="mitglied.adresse !== null" ng-bind-html='mitglied.adresse'></span>
      <span ng-if="mitglied.adresse !== null"><br/></span>
      <span ng-if="mitglied.telefon !== null">{{mitglied.telefon | tel}}<br/></span>
      <span ng-if="mitglied.email !== null"><a ng-href="mailto:{{mitglied.email}}">{{mitglied.email}}</a></span>
      <span ng-repeat="a in mitglied.newlines track by $index"><br/>&nbsp;</span>
    </address>
  </div>
</div>
