<div class="text-center" ng-controller="AgendaController as agenda">
  <h1>Agenda</h1>
  <table class="table table-hover table-responsive">
    <tr ng-repeat="x in agenda.entries">
      <th class="text-center" ng-if="x.highlight == 1">{{ x.datum }}</th>
      <th class="text-center" ng-if="x.highlight == 1">{{ x.name }}</th>
      <th class="text-center" ng-if="x.highlight == 1">{{ x.name }}</th>
      <td ng-if="x.highlight != 1">{{ x.datum }}</td>
      <td ng-if="x.highlight != 1">{{ x.name }}</td>
      <td ng-if="x.highlight != 1">{{ x.ort }}</td>
    </tr>
  </table>
</div>
